.govuk-main-wrapper {
  min-height: 600px;
  padding-top: 0px;
}

.objective-audit {
  padding-top: 24px;
}

.steps-heading {
  font-weight: normal;
  margin: 0;
}

.crn-with-image {
  display: flex;
  img {
    padding-top: 34px;
    padding-right: 16px;
  }
}

.objective-heading {
  margin-block-start: 0;
  margin-block-end: 0.43em;
}
