{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Database Raw" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

<h1>Database Raw</h1>
{% endblock %}
