{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Database with UI" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

<h1>Database With UI</h1>
{% endblock %}
