{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

  <h1>One Plan Demo</h1>
  
  <ul class="govuk-list">
    <li>
      <a href="plp" class="govuk-link">PLP</a>
    </li>
    <li>
      <a href="resettlement" class="govuk-link">Resettlement</a>
    </li>
    <li>
      <a href="sentence-plan" class="govuk-link">Sentence Plan</a>
    </li>
    <li>
      <a href="db-raw" class="govuk-link">Database Raw</a>
    </li>
    <li>
      <a href="db-ui" class="govuk-link">Database with UI</a>
    </li>
  </ul>

  <button type="submit" class="govuk-button" data-module="govuk-button">RESET</button>
{% endblock %}
