{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Objective Created" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

<h1>Objective created in database</h1>
{% endblock %}
