{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Resettlement" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

<h1>Resettlement</h1>
{% endblock %}
