{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Sentence Plan" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}
<div class="moj-header__container">
    <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content">
            <strong class="govuk-tag govuk-phase-banner__content__tag">
                beta
            </strong>
            <span class="govuk-phase-banner__text">
                This is a new service – your <a class="govuk-link" href="https://www.research.net/r/9P3F9FF">feedback</a> will help us to improve it.
            </span>
        </p>
    </div>
</div>
<div class="moj-identity-bar">
  <div class="moj-identity-bar__container">
    <div class="moj-identity-bar__details">
        <h1 class="govuk-heading-xl">Bernard Connor</h1>
        <p class="govuk-body">CRN: <b>D002548</b></p>
    </div>
  </div>
</div>

<div class="govuk-width-container">
    <a href="/" class="govuk-back-link">Back</a>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Add actions to the objective</h1>
            <h2 class="govuk-heading-m">Action</h2>
            <form method="post" novalidate>
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                            Will this action come from the National Interventions List?
                        </legend>
                        <div class="govuk-radios govuk-radios--small govuk-radios--conditional" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="actionType-yes" name="actionType" type="radio" value="intervention" aria-expanded="false">
                                <label class="govuk-label govuk-radios__label" for="actionType-yes">
                                    Yes
                                </label>
                            </div>
                            <div class="govuk-radios__item"> 
                                <input class="govuk-radios__input" id="actionType-no" name="actionType" type="radio" value="no" data-aria-controls="conditional-actionType-no"> 
                                <label class="govuk-label govuk-radios__label" for="actionType-no"> No </label> 
                            </div>
                            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-actionType-no">
                                <div class="govuk-character-count" data-module="govuk-character-count" data-maxwords="50">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label govuk-label--l" for="with-hint">
                                            What action are they going to take?
                                        </label>
                                        <textarea class="govuk-textarea govuk-js-character-count" id="with-hint" name="withHint" rows="5" aria-describedby="with-hint-info with-hint-hint"></textarea>
                                    </div>
                                    <div id="with-hint-info" class="govuk-hint govuk-character-count__message">
                                        You can enter up to 50 words
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" role="group">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                            What is the target date for the action to be finished?
                        </legend>
                        <div class="govuk-date-input" id="target-date">
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="target-date-Month">
                                        Month
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="target-date-Month" name="target-date-Month" type="text" value="" pattern="[0-9]*" inputmode="numeric">
                                </div>
                            </div>
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="target-date-Year">
                                        Year
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="target-date-Year" name="target-date-Year" type="text" value="" pattern="[0-9]*" inputmode="numeric">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                            How motivated is the individual to start or complete this action?
                        </legend>
                        <div class="govuk-radios govuk-radios--small">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="motivation" name="motivation" type="radio" value="3fa85f64-5717-4562-b3fc-2c963f66afa1">
                                <label class="govuk-label govuk-radios__label" for="motivation">
                                    In the dark
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="motivation-2" name="motivation" type="radio" value="3fa85f64-5717-4562-b3fc-2c963f66afa2">
                                <label class="govuk-label govuk-radios__label" for="motivation-2">
                                    Thinking about it
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="motivation-3" name="motivation" type="radio" value="3fa85f64-5717-4562-b3fc-2c963f66afa3">
                                <label class="govuk-label govuk-radios__label" for="motivation-3">
                                    Getting ready
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="motivation-4" name="motivation" type="radio" value="3fa85f64-5717-4562-b3fc-2c963f66afa4">
                                <label class="govuk-label govuk-radios__label" for="motivation-4">
                                    Doing it
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="motivation-5" name="motivation" type="radio" value="3fa85f64-5717-4562-b3fc-2c963f66afa5">
                                <label class="govuk-label govuk-radios__label" for="motivation-5">
                                    Keeping going
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="motivation-6" name="motivation" type="radio" value="3fa85f64-5717-4562-b3fc-2c963f66afa6">
                                <label class="govuk-label govuk-radios__label" for="motivation-6">
                                    Off track
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="motivation-7" name="motivation" type="radio" value="42de6207-7a3a-4ffb-9b45-c3ee4ea514fa">
                                <label class="govuk-label govuk-radios__label" for="motivation-7">
                                    The new me
                                </label> 
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                            Who will make sure the action is done?
                        </legend>
                        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="responsibility" name="responsibility" type="checkbox" value="SERVICE_USER">
                                <label class="govuk-label govuk-checkboxes__label" for="responsibility">
                                    Individual
                                </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="responsibility-2" name="responsibility" type="checkbox" value="PRACTITIONER">
                                <label class="govuk-label govuk-checkboxes__label" for="responsibility-2">
                                    Offender manager
                                </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="responsibility-3" name="responsibility" type="checkbox" value="OTHER" aria-controls="conditional-responsibility-3" aria-expanded="false">
                                <label class="govuk-label govuk-checkboxes__label" for="responsibility-3">
                                    Other
                                </label>
                            </div>
                            <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-responsibility-3">
                                <div class="govuk-form-group">
                                    <input class="govuk-input govuk-input--width-20" id="responsibilityOther" name="responsibilityOther" type="text" value="">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                            Status
                        </legend>
                        <div class="govuk-radios govuk-radios--small">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="status" name="status" type="radio" value="NOT_STARTED">
                                <label class="govuk-label govuk-radios__label" for="status">
                                    To do
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="status-2" name="status" type="radio" value="IN_PROGRESS">
                                <label class="govuk-label govuk-radios__label" for="status-2">
                                    In progress
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <button name="addAnotherAction" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                    Add another action
                </button>
                <button name="continue" class="govuk-button" data-module="govuk-button">
                    Continue
                </button>
                <p>or <a class="govuk-link" href="/">cancel</a></p>
            </form>
        </div>
    </div>
</div>
{% endblock %}
