{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Sentence Plan" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

<h1>Sentence Plan</h1>
{% endblock %}
